/* pagination part */
a{
    text-decoration: none;
    color: white;
    display: block;
}
.top{
    background: linear-gradient(to right,#ffb03d,#ee5085);
    border-radius: 2px;
    margin-top: 20px;
    padding: 8px 0px;
    margin-left: -50px;
}
.one{
    width: 150px !important;
}
#two:hover{
    color: white;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin: -5px;
}
.number:hover{
    background-color: white;
    color: #ee5085;
}
/* contents */
.center{
    margin-top: 220px;
}
.three{
    margin-bottom: 15px;
}
.five{
    margin: 35px;
}
.six{
    margin-bottom: 15px;
    margin-top: 0px;
    margin-right: 40px;
}
.seven{
    margin-bottom: 15px;
    margin-right: 40px;
}
.eight{
    margin-bottom: 15px;
    margin-right: 40px;
}
.nine{
    margin-right: 40px;
}
/* next part */
.title-part{
    margin-top: 270px;
    margin-right: 100px;
}
.eleven{
    font-size: 25px;
    margin-right: 5px;
    color: #505050;
}
.bottom{
    margin-right: -30px;
    margin-left: -30px;
    margin-top: 15px;
}
.paragraph{
    color: #000;
    margin-top: 10px;
    font-weight: bold;
    color: rgba(51,49,50,.9);
}
.first-number{
    margin-top: 10px;
    margin-right: 230px;
}
.second-number{
    margin-top: 10px;
    margin-right: 230px;
}
.third-number{
    margin-top: 10px;
    margin-right: 230px;
}
.fourth-number{
    margin-top: -20px;
    margin-right: 230px;
}
.third{
    margin-left: 150px !important;
}
